<div class="container">
    <h4 class="text">Registration Form</h4>
    <div class="input">
        <i class="fas fa-user-astronaut"></i>
        <input type="text" name="name" id="" placeholder="Enter Your Name">
    </div>
    <div class="input">
        <i class="fas far fa-envelope"></i>
        <input type="email" name="name" id="" placeholder="Enter Your E-mail">
    </div>
    <div class="input">
        <i class="fa fas fa-user-lock"></i>
        <input type="password" name="name" id="" placeholder="Enter Your Password">
    </div>
    <div >
        <button class="submit" routerLink="/login">Register User</button><br>
        <a routerLink="/login" class="for_pass">Already Have Account! Login Now.</a>
    </div>
</div>
<router-outlet></router-outlet>