<div class="container">
    <form>
        <img src="https://th.bing.com/th/id/R.8e2c571ff125b3531705198a15d3103c?rik=gzhbzBpXBa%2bxMA&riu=http%3a%2f%2fpluspng.com%2fimg-png%2fuser-png-icon-big-image-png-2240.png&ehk=VeWsrun%2fvDy5QDv2Z6Xm8XnIMXyeaz2fhR3AgxlvxAc%3d&risl=&pid=ImgRaw&r=0" alt="Profile-pic">
        <div class="input_box">
            <i class="fa-solid fa-user"></i><input type="text" [(ngModel)]="name"  name="name" class="form-module" placeholder="Enter Your Name">
        </div>
        <div class="input_box">
            <i class="fa-solid fa-envelope"></i><input type="email" [(ngModel)]="email" class="form-module" name="email"  placeholder="Enter Your Email">
        </div>
        <div class="input_box">
            <i class="fa-solid fa-lock"></i><input type="password" class="form-module" name="password" [(ngModel)]="password" placeholder="Password">
        </div>
        <input type="submit" name="submit" value="Login" class="submit_btn"  (click)="login()">
        <br><a routerLink="/register" class="for_pass">New Here! register now</a>
    </form>
</div>
<router-outlet></router-outlet>