div{
    background-color: #183153;
    color: #fff;
}
.btn{
    display: inline-block;
    margin: 50px;
    /* border: 2px solid red; */
    width: 500px;
    height: 100px;
    align-items: center;
}
.btn .cancel{
    background-color: #0ca678;
    border: transparent;
    border-radius: 20px;
    margin: 20px 60px 20px 10px;
    width: 150px;
    height: 50px;
    font-size: 25px;
    color: #fff;
    font-weight: 600;
}
.btn .start{
    background-color: #0ca678;
    border: transparent;
    margin: 20px 10px 20px 60px;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    font-size: 25px;
    color: #fff;
    font-weight: 600;
}
.btn button:hover{
    color: #183153;
}